@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
    --Blue: hsl(246, 80%, 60%);
    --work: hsl(15, 100%, 70%);
    --play: hsl(195, 74%, 62%);
    --study: hsl(348, 100%, 68%);
    --exercise: hsl(145, 58%, 55%);
    --social: hsl(264, 64%, 52%);
    --selfcare: hsl(43, 84%, 65%);

    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsla(236, 100%, 87%, 0.728);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    height: 100%;
    width: 100%;
}

body {
    width: 100%;
    height: 100%;

    font-family: 'Rubik', sans-serif;
    color: white;
    background-color: var(--Very-dark-blue);
}

#root {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 100%;
}

.tracker {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
    grid-gap: 2rem;
    align-self: flex-start;

    padding: 2rem;
    min-width: 37.5rem;
}

.profile {
    background-color: var(--Dark-blue);
    border-radius: 1.6rem;
}

.profile__header {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    width: 100%;
    padding: 3rem;
    
    border-radius: 1.6rem;
    background-color: var(--Blue);
}

.profile__image {
    max-height: 6rem;
    max-width: 6rem;

    border: 3px solid white;
    border-radius: 50%;
}

.profile__id {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    margin-left: 2rem;
    width: 100%;
}

.profile__subheader {
    color: var(--Pale-Blue);
    font-size: 1.4rem;
}

.profile__name {
    color: white;
    font-size: 2.2rem;
    font-weight: 300;
    line-height: 1.5;
    margin: -.25rem 0;
    letter-spacing: 1.1px;
}



.time-toggle {
    border-radius: 1rem;
}

.time-toggle__list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    padding: 2rem 1rem;

    color: var(--Desaturated-blue);
    font-size: 1.8rem;
    font-weight: bold;

    transition: all ease 300ms;
}

.time-toggle__item {
    list-style: none;
    cursor: pointer;
    font-weight: 400;
    transition: all ease 300ms;
}

.time-toggle__item:hover {
    color: white;
    transition: all ease 300ms;
}

.isActive {
    color: white;
    transition: all ease 300ms;
}

.card {
    position: relative;

    padding-top: 3.2rem;
    border-radius: 1.6rem;
    margin-bottom: 2rem;

    overflow: hidden;
}

.card__container {
    position: relative;
    z-index: 9999;

    padding: 2rem;

    background-color: var(--Dark-blue);
    border-radius: 1.6rem;
    overflow: hidden;
}

.card__container:hover {
    background-color: var(--Desaturated-blue);
    cursor: pointer;
}

svg:hover {
    cursor: pointer;
    fill: white;
}

.card__heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 1rem;
}

.card__header {
    font-size: 1.8rem;
    color: white;
    font-weight: 500;
}

.card__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    
    height: 2rem;

    border: 1px solid white;
}



.card__menu-icon {
    justify-self: center;
    align-self: center;
    
    fill: var(--Pale-Blue);
}

.card__menu-icon:hover {
    fill: white;
}


.card__bg-image {
    position: absolute;
    z-index: 9999;    
    right: 3rem;
    top: .5rem;

    height: 3rem;

    color: black;
    transform: scale(2);
}

.card__detail {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}


.card__current {
    font-size: 3.2rem;
    font-weight: 300;
}

.card__previous {
    font-size: 1.6rem;
    font-weight: 300;
    color: var(--Pale-Blue);
}

.card-work {
    background-image: linear-gradient(to bottom, var(--work) 50%, transparent 50%);
}

.card-play {
    background-image: linear-gradient(to bottom, var(--play) 50%, transparent 50%);
}

.card-study {
    background-image: linear-gradient(to bottom, var(--study) 50%, transparent 50%);
}

.card-exercise {
    background-image: linear-gradient(to bottom, var(--exercise) 50%, transparent 50%);
}

.card-social {
    background-image: linear-gradient(to bottom, var(--social) 50%, transparent 50%);
}

.card-selfcare {
    background-image: linear-gradient(to bottom, var(--selfcare) 50%, transparent 50%);
}


@media screen and (min-width: 1000px) {
    .tracker {
        display: grid;
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr;
        grid-gap: 2rem;
        align-self: center;

        max-width: 100rem;
    }

    .profile {
        display: flex;
        flex-direction: column;
        align-content: center;

        height: 100%;
        width: 20rem;
        margin: 0;
    }

    .profile__header {
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        flex: 3;

        padding: 3rem 2rem;
    }

    .profile__subheader {
        margin-bottom: .5rem;
    }

    .profile__name {
        line-height: 1.25;
    }

    .profile__id {
        margin: 0;
    }

    .time-toggle {
        flex: 1 0;
    }

    .time-toggle__list {
        display: flex;
        flex-direction: column;

        padding: .5rem;

        color: var(--Desaturated-blue);
        font-size: 1.8rem;
        font-weight: bold;
        transition: all ease 300ms;
    }
    
    .time-toggle__item {
        padding: 1rem;

        font-size: 1.4rem;
        transition: all ease 300ms;
    }

    .cards__container {
        position: relative;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-gap: 2rem;

        margin: 0;
        padding: 0;
    }

    .card {
        margin: 0;
        bottom: 0;
        position: relative;
    }

    .card__container {
        height: 100%;
    }

    .card__heading {
        margin-bottom: 2rem;
    }

    .card__menu-icon {
        transform: scale(.75);
    }

    .card__header {
        font-size: 1.4rem;
        font-weight: 400;
    }

    .card__detail {
        flex-direction: column;
        align-items: flex-start;
    }


    .card__current {
        margin-bottom: 1rem;
    }

    .card__previous {
        font-size: 1.2rem;
    }
    
}